language: node_js
services: docker
#install: skip
jobs:
    include:
        - stage: Debricked-scan
          on:
            branch: master
          #script: docker run -e DEBRICKED_TOKEN=${DEBRICKED_TOKEN} -e TRAVIS_REPO_SLUG=${REPOSITORY} -e TRAVIS_BRANCH="master" -e TRAVIS_COMMIT=${COMMIT} -e TRAVIS_BUILD_DIR="/repo" -v $(pwd):/repo 
          script: echo env
          
