language: node_js
services: docker
jobs:
    include:
        - stage: Debricked-scan
          on:
            branch: master
          before_install: env > .env
          install: skip
          #script: docker run -e DEBRICKED_TOKEN=${DEBRICKED_TOKEN} -e TRAVIS_REPO_SLUG=${REPOSITORY} -e TRAVIS_BRANCH="master"
            #-e TRAVIS_COMMIT=${COMMIT} -e TRAVIS_BUILD_DIR="/repo" -v $(pwd):/repo --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          script: docker run -v $HOME:$HOME --env-file .env --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          env: DEBRICKED_TOKEN=${DEBRICKED_TOKEN}
          
          
