language: node_js
services: docker
jobs:
    include:
        - stage: Debricked-scan
          on:
            branch: "*"
          env:
          -  DEBRICKED_TOKEN=${DEBRICKED_TOKEN}
          -  TRAVIS_BUILD_DIR="/repo"
          before_install: env > file.env
          install: skip
          script: docker run -v $(pwd):/repo --env-file ./file.env --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          
          #script: docker run -e DEBRICKED_TOKEN=${DEBRICKED_TOKEN} -e TRAVIS_REPO_SLUG="holaMundo~" -e TRAVIS_BRANCH="master"
          #  -e TRAVIS_COMMIT=${COMMIT} -e TRAVIS_BUILD_DIR="/repo" -v $(pwd):/repo --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          
          
          
