language: node_js
services: docker
install: skip
jobs:
    include:
        - stage: Debricked-scan
          on:
              branch: master
          script: env > env.list && docker run -v $HOME:$HOME --env-file env.list --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          env:
          -  DEBRICKED_TOKEN: ${DEBRICKED_TOKEN}
            #docker run -it --rm -v $PWD:/data --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan "" ${DEBRICKED_TOKEN} ${TRAVIS_REPO_SLUG} ${TRAVIS_COMMIT} null cli
          
      
