language: node_js
services: docker
install: skip
jobs:
    include:
        - stage: Debricked-scan
          on:
            branch: master
          script: echo ${TRAVIS_BUILD_DIR} && docker run -v $HOME:$HOME -e DEBRICKED_TOKEN=${DEBRICKED_TOKEN} --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan
          #docker run -it --rm -v $PWD:/data --entrypoint "/travis-ci.sh" viktigpetterr/travis-scan "" ${DEBRICKED_TOKEN} ${TRAVIS_REPO_SLUG} ${TRAVIS_COMMIT} null cli
          
      
