language: node_js
node_js: 
- "12"
services:
- docker
install:
- docker pull debricked/debricked-cli
#install: skip
script: | 
  env > env.list
   docker run --./env.list --rm -v $PWD:/data debricked/debricked-cli debricked:scan
  env:
    USERNAME: ""
    DEBRICKED_TOKEN: $(DEBRICKED_TOKEN)
    repository_name: ${REPOSITORY}
    commit_name: ${COMMIT}
#docker run -it --rm -v $PWD:/data debricked/debricked-cli debricked:scan USERNAME="" PASSWORD=DEBRICKED_TOKEN repository_name=REPOSITORY  commit_name=COMMIT null cli
