language: node_js
services: docker
install: skip
jobs:
   include:
   - stage: Debricked-scan
     on:
       branch: master
     #before_script: docker run -it -e REPOSITORY=${TRAVIS_REPO_SLUG} -e COMMIT=${TRAVIS_COMMIT} 
     script: docker run
       -v $HOME:$HOME -e DEBRICKED_TOKEN=${DEBRICKED_TOKEN} viktigpetterr/travis-scan
     # docker run -it --rm -v $PWD:/data debricked/debricked-cli debricked:scan "" ${DEBRICKED_TOKEN} ${REPOSITORY} ${COMMIT} null cli
     #env: 
     #-  REPOSITORY=${TRAVIS_REPO_SLUG}
     #-  COMMIT=${TRAVIS_COMMIT} 
      
